/****************************
All of the CSS in this file will be used throughout the project
****************************/

.center {
  text-align: center;
}

.generic_heading_orange {
  color: rgb(243,156,18);
  margin-bottom: 30px;
}

.heading_fix {
  color: rgb(243,156,18);
  font-size: 30px;
}

body {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px
}

main {
  background-color: #333;
  padding-bottom: 50px;
}

.page_heading {
  padding-top: 50px;
}

/* CSS For the pic areas */
.pic_area {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 50px;
}

img {
  height: 500px;
}

/* Footer Code */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
  margin-bottom: 50px;
}

/* Media Quries */

@media only all and (max-width: 768px) {

  .pic_area {
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
  }

  .pic_area div {
    margin-bottom: 10px;
  }

  img {
    width: 325px;
  }


}