/****************************
All of the CSS in this file will be for the index.html page
****************************/

main {
  display: grid;
  grid-template-columns: 2fr 5fr;
}


/* CSS FOR THE ASIDE */

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(32,32,32);
  color: rgb(199,130,21);
}

ul li {
  color: rgb(156,156,156);
  text-decoration: none;
  list-style: none;
}

/* CSS FOR THE Section */

section {
  background-color: rgb(40,40,40);
  padding-left: 5%;
}
